*{
    margin:0;
    padding:0;
    cursor: url(cs.png),auto;
}
.controol{
	background-color: orange;
	display: flex;
}
.clogo{
    align-items: center;
    padding: 10px;
    margin: auto;
    display: flex;
}
#noav{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}
input:checked ~ .clogo{
display: none;
}
input:checked ~ #noav{
	display: none;
}

.header{
    font-family: 'Urbanist', sans-serif;
    color: black;
    background-color: orange;
    transition-duration :990ms ;
    /*固定*/
    position: fixed;
    width: 100%;
    padding: 5px;
    /*kokomade*/
    display: flex;
}
.cp{
    font-family: 'Urbanist', sans-serif;
    display: flex;
}
.span1{
    font-family: 'Urbanist', sans-serif;
    background-color: orange;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 90px;
    font-weight: 300;
}
.footer{
    background-color: orange;
    padding: 20px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}
.headhn{
    color: black;
    padding: 10px;
    display: inline-flex;
    justify-content: flex-end;
     
}
.header a:hover{
    background-color: rgba(255, 255, 255, 0.322);
    transition-duration :90ms ;
}

a{
    text-decoration: none;
    color: #1900ff;
}

p{
    padding: 50px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}
.ve{
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}
#linklink{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px;
}
.list{
     display: flex;
    justify-content: start;
    width: 100%;
    margin:0 0 0 auto;
}
#list{
    margin-right: 20px;
    padding: 10px;
    justify-content: end;
    display: flex;
}
.fn{
    font-weight: 400;
}
@media screen and (max-width:400px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    .headhn{
        color: black;
        display: inline-flex;
        justify-content: flex-end;
    }
    #noav{display: none;}
}

.content::-webkit-scrollbar{
  display:none;
}
.scroll_bar{
   /* overflow: scroll; */
   overflow-y: scroll;
}
::-webkit-scrollbar{
   display: none;
}








 .c-switch-check {
    display: none;
}
.c-switch-label {
    position: fixed;
    display: inline-block;
    width: 50px;
    height: 30px;
    border-radius: calc(30px / 2);
    transition: background 200ms;
    z-index: 2147483640;
	right: 10px;
	top: 10px;
	background: #ff0000;
}
.c-switch-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    width: calc(30px - 4px);
    height: calc(30px - 4px);
    border-radius: calc((30px - 4px) / 2);
    background: #ffffff;
    transform: translateX(0);
    transition: transform 200ms;
}
.c-switch-check:checked + .c-switch-label {
    background: #00ff2a;
}
.c-switch-check:checked + .c-switch-label::before {
    transform: translateX(calc((50px - 4px) - (30px - 4px)));
}
#fullOverlay{
  display: none;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(100, 100, 100, .8);
  z-index: 2147483647;

}

/** チェックOFFなら非表示 */
.message{ 
  display: none;
}
/** チェックONなら表示 */
input:checked ~ .message{
  overflow-y:hidden;
  display: block;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  z-index: 2147487;
  background-color: rgba(255, 166, 0, 0.589);
}

/** チェックボックス横にラベル表示 */
[type="checkbox"].c-switch-check{
  position: relative;
}
[type="checkbox"].c-switch-check:after{
  content: "表示する";
  position: absolute;
  width: 100px; height: 20px;
  padding-left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
