*{
    margin:0;
    padding:0;
    cursor: url(cs.png),auto;
}
.controol{
	background-color: orange;
	display: flex;
}
.header{
    font-family: 'Urbanist', sans-serif;
    color: black;
    background-color: orange;
    transition-duration :990ms ;
    /*固定*/
    position: fixed;
    width: 100%;
    padding: 5px;
    /*kokomade*/
    display: flex;
}
.cp{
    font-family: 'Urbanist', sans-serif;
    display: flex;
}
.span1{
    font-family: 'Urbanist', sans-serif;
    background-color: orange;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 90px;
    font-weight: 300;
}
.footer{
    background-color: orange;
    padding: 20px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}
.headhn{
    color: black;
    padding: 10px;
    display: inline-flex;
    justify-content: flex-end;
     
}
.header a:hover{
    background-color: rgba(255, 255, 255, 0.322);
    transition-duration :90ms ;
}
#noav{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}
a{
    text-decoration: none;
    color: #1900ff;
}
.clogo{
    align-items: center;
    padding: 10px;
    margin: auto;
    display: flex;
}
p{
    padding: 50px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}
.ve{
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}
#linklink{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px;
}
.list{
     display: flex;
    justify-content: start;
    width: 100%;
    margin:0 0 0 auto;
}
#list{
    margin-right: 20px;
    padding: 10px;
    justify-content: end;
    display: flex;
}
.fn{
    font-weight: 400;
}
@media screen and (max-width:400px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    .headhn{
        color: black;
        display: inline-flex;
        justify-content: flex-end;
    }
    #noav{display: none;}
}

.content::-webkit-scrollbar{
  display:none;
}
.scroll_bar{
   /* overflow: scroll; */
   overflow-y: scroll;
}
::-webkit-scrollbar{
   display: none;
}







#global-navi {
    background:orange;
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
}
#wrapper nav ul li{
display:inline-block;
font-size: 16px;
padding:  30px 20px 25px 28px;
}
#wrapper nav ul li a{
color: #000000
}
 
@media screen and (max-width: 600px) {
#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background:orange;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
}
#wrapper nav ul li {
    display:block;
    padding: 20px 28px
}
  
#wrapper nav ul li a {
    text-decoration: none;
    color: #000000
}
  
#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}
  
#wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #000000;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}
  
#wrapper .btn-gnavi span:nth-child(1) {
    top: 0
}
  
#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
}
  
#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
}
  
#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}
  
#wrapper .btn-gnavi.open span {
    background: orange
}
  
#wrapper .btn-gnavi.open span {
    width: 24px;
}
#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: orange;
    text-shadow: 0 0 6px #000000
}
  
#wrapper .contents section:nth-child(odd) p {
    left: 10%
}
  
#wrapper .contents section:nth-child(even) p {
    right: 10%
}
}
