*{
    margin:0;
    padding:0;
    cursor: url(cs.png),auto;
}
html{
    overflow: auto;
    overflow-x: hidden;
}

.controol{
	background-color: orange;
	display: flex;
}
.clogo{
    align-items: center;
    padding: 10px;
    margin: auto;
    display: flex;
}
#noav{
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: auto;
}
.header{
    z-index: 21474;
    font-family: 'Urbanist', sans-serif;
    color: black;
    background-color: orange;
    transition-duration :990ms ;
    /*固定*/
    position: fixed;
    width: 100%;
    padding: 5px;
    /*kokomade*/
    display: flex;
}
.cp{
    font-family: 'Urbanist', sans-serif;
    display: flex;
}
.span1{
    font-family: 'Urbanist', sans-serif;
    background-color: orange;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 90px;
    font-weight: 300;
}
.sns-wjt{
        text-align: center;
        padding: 10px;
        background-color: rgb(209, 209, 209);
	font-family: 'Urbanist', sans-serif;
}
.sns-wjt-img{
        border-radius: 25px;
    }
.footer{
    background-color: orange;
    padding: 20px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
}
.headhn{
color: black; 
	height: 20px;
  display: inline-block;
width: 100px;
border: solid 1px;
text-align: center;
  height:60px;
  line-height:60px;
}
.header a:hover{
    background-color: rgba(255, 255, 255, 0.322);
}
a{
    text-decoration: none;
    color: #1900ff;
}

p{
    padding: 50px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}
.ve{
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}
#linklink{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 10px;
}
.list{
     display: flex;
    justify-content: start;
    width: 100%;
    margin:0 0 0 auto;
}
#list{
    margin-right: 20px;
    padding: 10px;
    justify-content: end;
    display: flex;
}
.fn{
    font-weight: 400;
}
@media screen and (max-width:400px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    .headhn{
        color: black;
    }
    #noav{display: none;}
}
::-webkit-scrollbar{
   width: auto;
}
::-webkit-scrollbar-track{
   background-color: #ffffff00;
   border: solid #ffbb007c 0.1px;
}
::-webkit-scrollbar-thumb{
   background-color: #ffbb00c0;
   border-radius: 100px;

}








 .c-switch-check {
    display: none;
}

.c-switch-label {
    position: fixed;
    display: inline-block;
    width: 36px;
    height: 16px;
    border-radius: calc(30px / 2);
    transition: background 200ms;
    z-index: 2147483640;
    right: 17px;
    top: 11px;
    background: #b7b7b7;
}
.c-switch-label::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -2px;
    display: block;
    width: calc(26px - 4px);
    height: calc(26px - 4px);
    border-radius: calc((30px - 4px) / 2);
    background: #ffffff;
    transform: translateX(0);
    transition: transform 200ms;
}
.c-switch-check:checked + .c-switch-label {
    background: #7adab2;
}
.c-switch-check:checked + .c-switch-label:before {
    background: #00b478;
}
.c-switch-check:checked + .c-switch-label::before {
    transform: translateX(calc((48px - 4px) - (30px - 4px)));
}
/** チェックOFFなら非表示 */
.message{ 
  display: none;
}
/** チェックONなら表示 */
input:checked ~ .message{
 display: block;
position: fixed;
bottom: 0;
right: 0;
width: 100%;
height: 100vh;
  width: 100%; height: 100%;
  z-index: 2147487;
  background-color: rgba(255, 166, 0, 0.950);
	
}
input:checked ~ .message div:hover{
  background-color: rgba(255, 255, 255, 0.404);
}

/** チェックボックス横にラベル表示 */
[type="checkbox"].c-switch-check{
  position: relative;
}
[type="checkbox"].c-switch-check:after{
  content: "表示する";
  position: absolute;
  width: 100px; height: 20px;
  padding-left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.spa1{
justify-content:center;
margin: 5px;
  display: inline-block;
}


.space{
  height: 10px;
}



.admax-switch{
        bottom: 0%;
	background-color: orange;
        position: fixed;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}

.admax-ads{
	
}
